.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar_format a {
  margin-left: 30px;
}

.display_username {
  text-align: right;
  margin-right: 20px;
}

.register_format {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.register_button {
  padding-left: 50px;
  padding-top: 10px;
}

.view_image {
  padding: 20px;
}

.purchase {
  margin-top: 30px;
}

.add_money {
  width: 300px;
  border: 5px solid;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.add_money_button {
  margin-top: 30px;
}

.comment_section {
  text-align: left;
  padding: 20px;
}
 
.comments {
  padding: 10px;
}

.your_items {
  margin-top: 20px;
}

.filter_buttons {
  margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}